<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>Spherical Media Player</string>
    <key>CFBundleGetInfoString</key>
    <string>Unity Player version 2022.3.25f1 (530ae0ba3889). (c) 2005-2024 Unity Technologies. All rights reserved.</string>
    <key>CFBundleIconFile</key>
    <string>PlayerIcon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.yutokun.Spherical-Media-Player</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Spherical Media Player</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.3.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>MacOSX</string>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.games</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.13.0</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true />
    </dict>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSPrincipalClass</key>
    <string>PlayerApplication</string>
	<key>SUPublicEDKey</key>
	<string>x7K9YFgplRnuGJMQFOhvm3EtlXpgzohuwDe0ao8d52A=</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/yutokun/Spherical-Media-Player/master/appcast.xml</string>
    <key>UnityBuildNumber</key>
    <string>530ae0ba3889</string>
  </dict>
</plist>
